/*comentario*/
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Stanley;
    src: url(../fonts/Stanley.otf);
}
body
.logo_container img{
    width: 70px;
}

span{
    font-weight: 200;}

span{
    font-size: 40px;
    background-color: white;
    color: rgb(81, 129, 212);
}

h1 {font-weight: 100;
} /*grosor de Fuente*/
h2 {font-weight: 40;
} /*grosor de Fuente*/
p {
    font-weight: 300;
    }
p{
    font-size: 20px;
}/*tamaño de la Fuente*/
h2{
    font-size: 30px;
}/*tamaño de la Fuente*/
.container__title h2{
    font-size: 78px;
    font-family: "Stanley", cursive;
    text-transform: uppercase;
    /*position: absolute; top: 10%;*/
}

h1 {color:rgb(74, 136, 222)} /*color de Fuente*/

div img.a1{
 width: 100%;
}/*tamaño de imagenes especificas*/

img{
 width:200px;
}

.formulario{
    background-color:rgb(173, 173, 173);
    padding: 20px;
}
.from_control{
    padding: 20px;
} /*separación formulario*/

.navegacion_nav{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    position: inline;
    top:0%;
    left: 60px;
    gap:20px;
    /*z-index: 100%;*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}/*Diseño Menu*/
ul li{
    background-color: white;
}
.contenido_principal{
    position:absolute;top: 55%;
    position: absolute;left: 1%;
    background-color: rgba(248, 248, 248, 0.226);
    width: 30%;
}

.servicios{
    justify-content: center;
    width: 100%;
    gap: 50px;
    position:absolute; top: 1000px;
    width: 40%;
    left: 30%;
    font-family: 'Times New Roman', Times, serif;
   }
.contenido_secundario1 h2{

}
.contenido_secundario1{
    justify-content: center;
    gap:50px;
    position: fixed;
    align-items: center;
    position: absolute; top: 1300px;
    background-color: rgb(247, 247, 247, 0.897);
    position: absolute;
    display: flex;
    /*flex-wrap: wrap;*/
    width: 100%;    
}

.contenido_secundario2{
    justify-content: center;
    gap: 50px;
    position: fixed;
    align-items: center;
    position: absolute; top:1650px;
    background-color: rgba(247, 247, 247, 0.897);
    position: absolute;
    display: flex;
    /*flex-wrap: wrap;*/
    width: 50%;
    left: 30%;
    }
.a2 img{
    position: absolute; top: 2100px;
    width: 100%;
}
.pie_de_pagina{
    position: absolute; top: 2050px;
    position: absolute; left: 90%;
}