$encabezadoprincipal: #4c8fac;

@font-face {
    font-family: Stanley;
    src: url(../fonts/Stanley.otf);}

body{
    background-color: rgb(255, 255, 255);
}
.topside{
    span{
        font-weight: 200px;
        position: relative; top: 10px;
        font-size: 50px;
        background-color: white;
        color: rgb(81, 129, 212);
        width: 100%;
      }
      .logo_container img{
        width: 100px;
        margin-left: 100px;
      }
}
.index{

      .container_title h2{
        position: relative; top : 10px;
        width: 100%;
        font-size: 70px;
        font-family: "Stanley", cursive;
        text-transform: uppercase;
      }
      .manitos {
        width: 100%;
      }
      .dscrpcn {
        margin-top: 50px;
        background-color: rgba(218, 218, 218, 0.151);
        width: 100%;
        font-size: 30px;
        margin-bottom: 100px;
      }
      .servicios{
        justify-content: center;
        width: 100%;
        gap: 50px;
        margin-top: 5%;
        margin-bottom: 5%;
        /*position:absolute; top: 1000px;*/
        width: 50%;
       /* left: 30%*/;
        font-family: 'Times New Roman', Times, serif;  
       }
       .a2 img{
        width: 100%;
       }

}
Footer {
    position: absolute; left: 200px;
.wrapper ul{
    list-style: none;
  }
  .wrapper ul li{
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #000000;
    float: left;
    transition: all 0.5s ease;
  }
  .wrapper ul li .fa{
    color: black;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .facebook{
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .fa-facebook{
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .linkedin{
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .fa-linkedin{
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .twiter{
    color: #000000;
    text-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter{
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .instagram{
    color: #000000;
    text-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram{
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .google{
    color: #000000;
    text-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-google{
    border: 5px solid #000000;
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  .wrapper ul li:hover .whatsapp{
    color: #000000;
    text-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-whatsapp{
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 0 15px #000000;
    transition: all 0.5s ease;
  }
  @media screen and (max-width: 640px){
    .wrapper{
       width: 350px;
    }
    .wrapper ul li {
       margin-top: 10px;
    }
    .wrapper ul li.google{
    margin-left: 60px;
    }
  }
  .created_by{
    position: absolute;
    left: 70%;
  }
  }
.nstrs{
    .container_title h2{
        position:relative; top : 10px;
        position: relative; left: 100px;
        width: 100%;
        font-size: 70px;
        font-family: "Stanley", cursive;
        text-transform: uppercase;
      }
      h4{
        width: 50%;
        position: relative; left: 22%;
      }
     .a1 {
        width: 100%
        margin;top: 30%;
        margin-left: 15%;
     }
     .CS1{
        position: relative; left: 2%;
        width: 100%;
        font-size: 40px;

          background-color: rgba(243, 249, 252, 0.897);
          font-family: 'Times New Roman', Times, serif; 
        }
        .CS4{
            padding: 0%;
            justify-content: center;
            border-spacing: 100px;
            display: flex;
            font-family: 'Times New Roman', Times, serif; 
            flex-wrap: wrap;
              }
            .AVATAR{
              height: 200px;
              width: 200px;
            }
           .grupo-1{
          position: relative; left: 10%;
          justify-content: center;}
}
    .cont{
        margin-left: 100px;
        width: 70%;
        h2{
         width: 70%;
         margin-left: 100px;
         }
         .a2{
            width: 70%;
         }
         }

.contain2 {
  h2{
    margin-left: 50px;
  }
  .doctores{
        width: 100%;
    }
    .carta{
        width: 60%;
        margin-left: 100px;
    }
    p{
        width: 60%;
        font-size: 40px;
          background-color: rgba(243, 249, 252, 0.897);
          font-family: 'Times New Roman', Times, serif;
       
    }
    h1{
        width: 50%;
    }
    
        }